.point-graphic {
  display: block;
  width: 300px;
  position: absolute;
  top: 150px;
  left: 100px;
}

.sphere {
  position: absolute;
  top: -100px;
  left: -100px;
  display: block;
  background: black;
  border-radius: 100%;
  height: 600px;
  width: 600px;
  margin: 0;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
}
