.form-control {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  display: block;
  height: 32px;
  padding: 0 10px;
  font-family: inherit;
  border-radius: 0;
  border: 1px solid gray;
  width: 300px;
  max-width: 100%;
}
